.bt-gantt1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e4e7ed;
    font-size: 14px;

    .bt-gantt-table1 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-right: 1px solid #e4e7ed;

        .bt-gantt-table-header1 {
            display: flex;
            flex-wrap: nowrap;
            height: 48px;
            overflow: scroll;
            background-color: #f2f5fe;
            margin: 0;
            padding: 0;
            font-weight: bold;

            .bt-gantt-table-column1 {
                display: flex;
                flex: 1 0 auto;
                align-items: center;
                justify-content: center;
                width: 76px;
            }

            .bt-gantt-table-column1:not(:last-child) {
                border-right: 1px solid #e4e7ed
            }
        }

        .bt-gantt-table-container1 {
            position: relative;
            flex: 1;
            width: 100%;

            .bt-gantt-table-content1 {
                position: absolute;
                width: 100%;
                height: 100%;
                overflow-x: auto;
                overflow-y: hidden;

                .bt-gantt-table-row1 {
                    display: flex;
                    flex-wrap: nowrap;
                    height: 40px;
                    margin: 0;
                    padding: 0;

                    &:hover {
                        cursor: pointer;
                    }

                    .hight-style {
                        background-color: #9fbfea4f !important;
                    }

                    .bt-gantt-table-column1 {
                        display: flex;
                        flex: 1 0 auto;
                        align-items: center;
                        justify-content: center;
                        width: 76px;
                        border-bottom: 1px solid #e4e7ed;

                    }

                    .bt-gantt-table-column1:not(:last-child) {
                        border-right: 1px solid #e4e7ed
                    }

                    .bt-gantt-table-column1.cell-click {
                        color: var(--el-color-primary);
                        text-decoration: underline;
                    }

                    .bt-gantt-table-column1.txt-warn {
                        color: red;
                    }

                    .bt-gantt-table-column1.txtProject-warn {
                        color: red;
                    }
                }
            }
        }
    }

    .bt-gantt-table-header1::-webkit-scrollbar {
        display: none;
    }

    .bt-gantt-diagram {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        // width: 100%;
        height: 100%;
        overflow: hidden;

        .bt-gantt-diagram-header {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            height: 48px;
            overflow: scroll;
            background-color: #f2f5fe;
            font-weight: bold;

            .bt-gantt-diagram-column {
                display: flex;
                flex: 1 0 auto;
                align-items: center;
                justify-content: center;
                width: 76px;
            }

            .bt-gantt-diagram-column:not(:last-child) {
                border-right: 1px solid #e4e7ed
            }
        }

        .bt-gantt-diagram-container {
            position: relative;
            flex: 1;
            width: 100%;

            .bt-gantt-diagram-content {
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: auto;

                .bt-gantt-diagram-row {
                    display: flex;
                    flex-wrap: nowrap;
                    height: 40px;
                    border-bottom: 1px solid #e4e7ed;

                    &:nth-child(even) {
                        background-color: #f5f5f5;
                    }

                    .bt-gantt-diagram-column {
                        display: flex;
                        flex: 1 0 auto;
                        align-items: center;
                        justify-content: center;
                        width: 76px;
                        border-bottom: 1px solid #e4e7ed;
                    }

                    .bt-gantt-diagram-column:not(:last-child) {
                        border-right: 1px solid #e4e7ed
                    }
                }
            }
        }
    }

    .bt-gantt-diagram-header::-webkit-scrollbar {
        display: none;
    }

    .bt-gantt-diagram-header {
        flex-direction: column;



        .date-row {
            display: -webkit-box;
            flex: 1;
            flex-direction: row;
            padding-top: 0.5%;

        }

        &:hover {
            cursor: pointer;
        }

        .year {
            text-align: center;
            border-bottom: 1px solid #e4e7ed;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .year:not(:last-child) {
            border-right: 1px solid #e4e7ed
        }

        .month {
            text-align: center;
            border-bottom: 1px solid #e4e7ed;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .month:not(:last-child) {
            border-right: 1px solid #e4e7ed
        }

        .date {
            text-align: center;
            border-bottom: 1px solid #e4e7ed;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .date:not(:last-child) {
            border-right: 1px solid #e4e7ed
        }
    }

    .bt-gantt-progressbar {
        position: absolute;
        height: 24px;
        cursor: pointer;
        user-select: none;
        padding: 0 8px;
        box-sizing: border-box;
        color: #fff;
        border-radius: 4px;
        font-size: 14px;

        &:not(.drag-disabled):hover .bt-gantt-resize-left {
            display: block;
        }

        &:not(.drag-disabled):hover .bt-gantt-resize-right {
            display: block;
        }
    }

    .bt-gantt-progressbar.normal {
        background-color: #43d9bd;
    }

    .bt-gantt-progressbar.warning {
        background-color: #fbbe2f;
    }

    .bt-gantt-progressbar.hidden {
        background-color: transparent;
    }

    .bt-gantt-resize-left {
        position: absolute;
        top: 12px;
        left: -4px;
        width: 8px;
        height: 8px;
        cursor: w-resize;
        background-color: white;
        border: 1px solid #bbb;
        display: none;
    }

    .bt-gantt-resize-right {
        position: absolute;
        top: 12px;
        right: -4px;
        width: 8px;
        height: 8px;
        cursor: e-resize;
        background-color: white;
        border: 1px solid #bbb;
        display: none;
    }

}


::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
    --el-scrollbar-opacity: .3;
    --el-scrollbar-bg-color: var(--el-text-color-secondary);
    --el-scrollbar-hover-opacity: .5;
    --el-scrollbar-hover-bg-color: var(--el-text-color-secondary);
    overflow: hidden;
    position: relative;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    position: relative;
    display: block;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.185);
    cursor: pointer;


}
