.split-pane {
    display: flex;
    height: 100%;
    width: 100%;
}

.vertical-pane {
    flex-direction: row;
}

.level-pane {
    flex-direction: column;
}

.left-pane {
    flex: 1;
    padding: 10px; 
}

.right-pane {
    width: 1300px;
    overflow-x: hidden;
}

.top-pane {
    height: calc(78% - 8px);
}
.bottom-pane {
    height: calc(38% - 8px);
}
.top-half{
     height: 50%;
}
.fold-t-h{
   height: 98% !important;
}
.fold-b-h{
   height: 2% !important;
}
.center-t-h {
    height: 33%;
}
.vertical-line {
    width: 5px;
    height: 100%;
    position: relative;
}
.vertical-line-inner {
    position: absolute;
    width: 9px;
    background-color: transparent;
    height: 100%;
    cursor: ew-resize;
    left: -4px;
}

.level-line {
    cursor: ew-resize;
    border-bottom: 1px solid #dce4f2;
    height: 5px;
    background-color: #0000;
}

.split-line {
    position: relative;
    background-color: #dce4f2;
}
.split-line:hover {
    background-color: #c2d3f2;
}
.circle-icon{
     position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    top: -11px;
    left: calc(50% - 12px);
    border: 1px solid #ccc;
    z-index: 10;
    text-align: center;
        cursor: pointer;
}
.vertical-line:hover {
    cursor: ew-resize;
}

// .level-line:hover {
//     cursor: row-resize;
// }

.line-box {
    height: 100%;
    position: relative;
}
.icon-size {
    width: 28px;
    height: 28px;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: -14px;
    cursor: pointer;
    z-index: 2;
}
.icon-left {
    background: url('@/assets/fold-left.svg') 60%;
}
.icon-left:hover {
    background: url('@/assets/fold-left-hover.svg') 60%;
}
.icon-right {
    background: url('@/assets/fold-right.svg') 60%;
}

.icon-right:hover {
    background: url('@/assets/fold-right-hover.svg') 60%;
}
