@use './variables.module.scss' as *;

.global-app {
  --sidebar-width: 200px;

  .sub-main-container {
    width: 100vw;
    height: calc(100vh - $base-navbar-height - 34px);
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    transition: grid-template-columns 0.28s ease;
    overflow: hidden;

    .sub-main-content {
      min-width: 0;
      width: 100%;
      //margin-left: 200px;
      height: calc(100vh - 65px);
      background-color: var(--bg-fill-3);
      overflow: auto;
    }

    .sub-sidebar-container {
      transform: translateX(0);
      -webkit-transition: width 0.28s;
      transition: width 0.28s;
      width: var(--sidebar-width);
      min-width: var(--sidebar-width);
      max-width: var(--sidebar-width);
      min-height: calc(100vh - 60px - 34px - 20px);
      height: calc(100vh - 60px - 34px - 20px);
      overflow: hidden;

      //position: fixed;
      font-size: 0;
      z-index: 1001;
      overflow: hidden;
      -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 8px;

      .hamburger-container {
        line-height: 46px;
        height: 100%;
        float: left;
        cursor: pointer;
        transition: background 0.3s;
        -webkit-tap-highlight-color: transparent;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }

      // reset element-ui css
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out,
        0s padding-left ease-in-out,
        0s padding-right ease-in-out;
      }

      .scrollbar-wrapper {
        min-width: var(--sidebar-width, 80px);
        overflow-x: hidden !important;
      }

      .el-scrollbar__bar.is-vertical {
        right: 0;
      }

      .el-scrollbar {
        height: 100%;
      }

      &.has-logo {
        .el-scrollbar {
          height: calc(100% - 50px);
        }
      }

      .is-horizontal {
        display: none;
      }

      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }

      .svg-icon {
        margin-right: 8px;
      }

      .el-menu {
        border: none;
        height: 100%;
        width: 100% !important;
      }

      .el-menu-item.is-active {
        background: var(--color-primary-plain) !important;
        color: var(--color-primary) !important;

        .menu-title {
          color: var(--color-primary) !important;
        }
      }

      .el-menu-item {
        height: 42px !important;
        padding: 10px 12px 10px 36px !important;
      }

      .el-menu-item,
      .menu-title {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;

        color: var(--color-text-5);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }

      .el-menu-item .el-menu-tooltip__trigger {
        display: inline-block !important;
      }

      // adminMenu hover
      .theme-dark .sub-menu-title-noDropdown,
      .theme-dark .el-sub-menu__title {
        &:hover {
          background-color: $base-sub-menu-title-hover !important;
        }
      }

      .el-sub-menu__title {
        display: flex;
        padding: 10px 12px !important;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        color: var(--color-text-5);
        font-size: 14px;
        font-weight: 400;
        height: 42px !important;
      }

      .sub-menu-title-noDropdown,
      .el-sub-menu__title {
        &:hover {
          background-color: rgba(0, 0, 0, 0.05) !important;
        }
      }

      & .theme-dark .is-active .el-menu .nest-menu .is-active {
        background-color: #060e27 !important;
        color: $base-menu-color-active !important;
      }

      & .nest-menu .el-sub-menu > .el-sub-menu__title,
      & .el-sub-menu .el-menu-item {
        min-width: $base-sidebar-width !important;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1) !important;
        }
      }

      & .theme-dark .nest-menu .el-sub-menu > .el-sub-menu__title,
      & .theme-dark .el-sub-menu .el-menu-item {
        background-color: $base-sub-menu-background;

        &:hover {
          background-color: $base-sub-menu-hover !important;
        }
      }

      & .theme-dark .nest-menu .el-sub-menu > .el-sub-menu__title,
      & .theme-dark .el-menu-item {
        &:hover {
          // you can use $sub-menuHover
          background-color: $base-menu-hover !important;
        }
      }

      & .nest-menu .el-sub-menu > .el-sub-menu__title,
      & .el-menu-item {
        &:hover {
          // you can use $sub-menuHover
          background-color: rgba(0, 0, 0, 0.04) !important;
        }
      }
    }
  }


  .sidebarHide {
    margin-left: 0 !important;

    .sub-sidebar-container {
      padding: 10px 8px 0 8px;
    }

    .sub-main-container {
      width: 100%;
      display: flex;
      height: 100%;

      .sub-main-content {
        width: 100%;
        height: calc(100% - 20px);
      }

      .mrt-20 {
        margin-top: 20px;
      }
    }
  }

  .sidebarHide + .hasTagsView {
    .sub-main-container {
      width: calc(100vw - $base-sidebar-width - 20px) !important;
      display: flex;
    }
  }

  .hideSidebar {
    --sidebar-width: 60px;

    .sidebar-container {
      width: var(--sidebar-width);
      min-width: var(--sidebar-width);
      max-width: var(--sidebar-width);

      .scrollbar-wrapper {
        min-width: var(--sidebar-width);
      }
    }

    //.main-container {
    //  margin-left: 54px;
    //}

    .sub-menu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-sub-menu {
      overflow: hidden;

      & > .el-sub-menu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-menu--collapse {
      .el-sub-menu {
        & > .el-sub-menu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }

          & > i {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-sub-menu {
    min-width: $base-sidebar-width !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      grid-template-columns: 0 1fr; // 隐藏侧边栏时设置为0
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $base-sidebar-width !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$base-sidebar-width, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when adminMenu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }
}
